!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css")
		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css")
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/index.js')

	body
		.container
			.form-inline.loadfield
				input#url.input-small(type="text", value="")
				input#tickets.input-small(type="number", value="2")
				button#loadurlbutton.btn(type="submit") Laad

			h4 Query
			#querydata.data

			h4 CreateNewWebSession
			#CreateNewWebSessionData.data

			h4 QuickStart
			#QuickStartData.data

			h4 CreateReservation
			#CreateReservationData.data

			h4 Seats
			#seats
			br
			br
			br
			button.btn.btn-primary#jamseats Jam seats
